.featured {
    height: 55vh;
    position: relative;
    font-size: 2rem;
    font-weight: normal;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.75);
    }
  
    .info {
      width: 100%;
      position: absolute;
      // transform: translate(50%, 0%);
      
      bottom: 10vh;
      color: white;
      // text-align: center;
      // .infoText{
      //   display: block;
      //   margin: auto;
      //   width:80%;
      // }
      
      .bounceArrow{
        width:50%;
        display: block;
        margin: auto;
        cursor: pointer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        // margin: 10 auto 0 auto;
        transform-origin: bottom;
      }
    }
    .bounce-1 {
      animation-name: bounce-1;
      animation-timing-function: linear;
    }
    @keyframes bounce-1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-5px); }
        100% { transform: translateY(0); }
    }
  }
  @media screen and (max-width: 600px) {
    
    .info {
      font-size: 1.5rem;
      // .infoText{
      //   font-size: 1rem;
        
      // }
      
    }
    
  }
  
  
  