
.card{
  height: 100%;
}
.card:hover {
  cursor: pointer;
  
  transform: scale(1.05);
  transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);

  
}


  
.subDes{
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin-top: 30px;
.leftSubDes{
  
  display: flex;
  font-family: 'Vujahday Script', cursive;
  font-weight: bold; 
  
  .left{
    color:rgb(255, 2, 99);
    font-size:30px; 
    text-align: left;
    line-height: 1;
  }
  .right{
    
    
    display: flex;
    .rightLeft{
      font-size: 18px;
      line-height: 2;
    }
    .rightRight{
      color:rgb(5, 139, 5);
      margin-left: 5px;
      font-size: 10px;
      line-height: 3;
    }
  }
}
.rightSubDes{
  line-height: 3;
  font-size: 15px;
}
}
.cardContainer{
  width: 23%;
  // margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .cardContainer{
    width: 40%;
    // margin-bottom: 50px;
  }
  
}
@media screen and (max-width: 800px) {
  .cardContainer{
    width: 100%;
    // transform: scale(0.5);
    
  }
  
}
