.home{
    // background-color: rgb(245, 244, 244);
    overflow: hidden;
    
}

*{
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
    font-weight: bold;
}

.uicontainer{
    margin-left: 1rem;
}